h1{
    font-size: 4rem;
    padding: 5em 0;   
}

.carousel-element h3{
margin-bottom: 2rem;
padding-top: 2rem;
}

.carousel{
    background-color: rgb(43, 42, 51, 0.8);
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.6)
}

.carousel-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4rem 0 4rem;
}

.carousel-content p{
    text-align: justify;
}

.carousel-description{
    margin: 0 2rem 2rem 2rem;
}

.carousel-element img{
    margin: 2rem 0 2rem 0;
    border-radius: 1rem;
    max-height: 30vh;
    max-width: 30vh;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.6)
}

figure img{ 
    width: 100%;
    height: 60%;
}

.viewpoint{
    background-color: #42414d;
    margin: 2rem;
}

.viewpoint,
.viewpoint img{
    border-radius: 1rem 1rem 0 0;
}

.viewpoint-grid{
    background-color: rgb(43, 42, 51, 0.8);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;  
}

figcaption h4{
    text-align: center;
}

figcaption{
    text-align: justify;
    padding: 0rem 2rem 2rem 2rem;
}

/*Smartphones*/
@media (max-width: 600px) {

    h1{
        font-size: 3rem; 
    }
    
    .carousel-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        padding: 0 4rem 0 4rem;
    }
    
    .viewpoint-grid{
        background-color: #2b2a33;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2rem;
        margin-bottom: 2rem;  
    }
    
}

/*Tablets*/
@media (min-width: 601px) and (max-width: 1024px) {
    .carousel-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 4rem 0 4rem;
    }

    .carousel-element h3 {
        text-align: center;
      }
    
    .viewpoint-grid{
        background-color: rgb(43, 42, 51, 0.8);
        border-radius: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
        margin-bottom: 2rem;  
    }
}