h1{
    font-size: 4rem;
    padding-top: 5%;   
}

h2{
    margin: 2rem 0 2rem 0;
}

section{
    text-align: justify;
}

img{
    width: 100%;
    border-radius: 0 2rem 2rem 0;
}

.text-container img{
    border-radius: 2rem;
    margin-top: 2rem;
}

.art-img{
    width: 100%;
    height: auto;
    border-radius: 2rem 2rem 0 0; 
}

main h1 + p{
    padding-bottom: 5%;
}

main > p a:hover{
    color: #00bcd4;
}

.content-wraper{
    background-color: rgb(43, 42, 51, 0.8);
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

#main-picture-container{
    position: relative;
}

.nav-menu-container{
    background-color: rgb(43, 42, 51, 0.8);
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-menu-container ul{
    padding: 2rem;
}

@media (max-width: 600px) {
    h1{
        font-size: 3rem; 
    }

    .container{
        background-color: rgb(43, 42, 51, 0.8);
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .nav-menu-container ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-menu ul li{
        padding: 0.5rem 0;
    }

    img{
        border-radius: 0 0 2rem 2rem;
    }

    .content-wraper section h2{
        margin-top: 4rem;
    }
}

/*Tablets*/
@media (min-width: 601px) and (max-width: 1024px) {
    .container{
        background-color: rgb(43, 42, 51, 0.8);
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    img{
        border-radius: 0 0 2rem 2rem;
    }
    
    .content-wraper section h2{
        margin-top: 4rem;
    }
}

/*Desktop image management*/
@media (min-width: 1025px){
    picture {
        position: absolute;
        top: 12%;
        width: 100%;
    }

    picture img{
        border-radius: 2rem;
    }
}