h1{
    font-size: 4rem;
    padding-top: 5%;   
}

h2{
    margin: 2rem 0 2rem 0;
}

section{
    text-align: justify;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 0 2rem 2rem 0;
}

main h1 + p{
    padding-bottom: 5%;
}

main > p a:hover{
    color: #00bcd4;
}

.container{
    background-color: #2b2a33;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text-container{
    padding: 2rem;
}

.nav-menu-container{
    background-color: #2b2a33;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-menu-container ul{
    padding: 2rem;
}