a:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 1px solid #fff;
}

li > a{
    background-color: #fff;
    color:#000;
    border-radius: 2rem;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    transition: background-color 0.5s ease-in,
                color 0.5s ease-in,
                border 0.5s ease-in;
}

h1{
    font-size: 6rem;
    padding: 5% 0;   
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.main-menu{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.center{
    text-align: center;
}

.presentation{
    margin-left: 4%;
    text-align: justify;
}

#main-content-container-index{
    margin: 0% 15% 0% 15%;
}

#main-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.kimono-clip{
    clip-path: polygon(29% 90%, 50% 77%, 72% 90%, 72% 56%, 84% 56%, 88% 52%, 89% 30%, 84% 26%, 72% 26%, 71% 8%, 59% 8%, 55% 12%, 47% 12%, 42% 8%, 29% 8%, 29% 26%, 17% 26%, 12% 30%, 13% 52%, 17% 56%, 29% 56%);
}

img{
    width: 50%;
}

/*Smartphones*/
@media (max-width: 600px) {
    h1{
        font-size: 4rem;
        padding: 5% 0;   
    }

    li{
       margin: 2rem 0 2rem 0;
    }

    li > a{
        padding: 1rem 2rem;
        font-size: inherit;
    }
    
    body{
        min-height: 0;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 0vh;
    }

    .presentation{
        margin: 0% 0% 5%;
    }
    
    main{
        justify-content: unset;
    }
    .main-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #main-wrapper{
        flex-direction: column;
    }
}

/*Tablets*/
@media (min-width: 601px) and (max-width: 1024px) {
    li > a{
        padding: 1rem 2rem;
        font-size: 1.5rem;
    } 
    
    #main-wrapper{
        flex-direction: column;
    }
}