a:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 1px solid #fff;
}

li > a{
    background-color: #fff;
    color:#000;
    border-radius: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
    padding: 1.5rem 3rem;
    font-size: 2rem;
}

h1{
    font-size: 6rem;
    padding: 5% 0;   
}

nav{
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-menu{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.center{
    text-align: center;
}

.presentation{
    margin: 0% 15% 5% 15%;
    text-align: justify;
}

body {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ), url('../img/shibuya-front-page-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}