h1{
    font-size: 4rem;
    padding: 5% 0;   
}

p,
figcaption{
    text-align: justify;
}

h2{
    margin: 2rem 0 2rem 0;
}

.location-container{
    display: flex;
    background-color: #2b2a33;
    border-radius: 2rem;
}

.location-container p{
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
}

figcaption{
    padding: 0 2rem 2rem 2rem;
    overflow: hidden;
}

figure img{ 
    width: 100%;
    height: 100%;
}

.interest-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;  
    gap: 2rem;
}

.interest-grid figure:nth-child(3){
    grid-column: span 2;
}

.place{
    background-color: #42414d;
    border-radius: 2rem;
}

img{
    float: left;
    max-width: 50%;
    max-height: 100%;
    border-radius: 1rem 0 0 1rem;
}

embed{
    border-radius: 0 1rem 1rem 0;
    float: right;
    width: 50%;
    height: 100%;
    max-height: 100%;  
}

@media (max-width: 600px) {

    h1{
        font-size: 2rem;
        padding: 5% 0;   
    }

    .location-container{
        display: flex;
        flex-direction: column;
        background-color: #2b2a33;
        border-radius: 2rem;
    }

    .location-container p{
        margin-top: 2rem;
        padding: 0 1rem 1rem 1rem;
    }

    .location-container img{
        max-width: 100%;
        max-height: 100%;

    }

    figcaption{
        padding: 0 1rem 1rem 1rem;
        overflow: hidden;
    }

    .interest-grid figure:nth-child(3){
        grid-column: span 1;
    }

    .interest-grid{
        display: block;
        grid-template-columns: 1fr;
        margin-top: 2rem;
        margin-bottom: 2rem;  
    }

    img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    .place{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    embed{
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
}