/*Setting initial styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    min-height: 100vh;
    margin: 0 15%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ), url('../img/shibuya-front-page-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}