/*Setting initial styles*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ), url('../img/shibuya-front-page-bg.jpg');
    background-size: cover;
    background-position: 50% 50%;

}

body {

    font-size: 0.85vw;
    line-height: 1.5;
    color: #fff;
    min-height: 100vh;
    backdrop-filter: blur(8px);
}

#main-content-container{
    margin: 0% 15% 4% 15%;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}

#nav-menu{
    display: flex;
    justify-content: center;
    gap: 15%;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
}

footer .nav-menu ul{
    margin-top: 5rem;
    gap: 100%;
}

footer .nav-menu ul li{
    padding-top: 2%;
}

.nav-menu-border{
    border-bottom: 1px solid #fff;
}

h4{
    margin: 1rem 0 1rem 0;
}

h2{
    margin-bottom: 2rem;
}

/*header and footer*/
header,
footer{
    background-color: #202026;
}

#footer-container{
    padding: 1% 0;
}

#header-container{
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 1% 0;
}

#header-title{
    padding: 2% 0 0 0;
}

main nav ul li:hover,
header nav ul li:hover{
    color: #00bcd4;
}

.current-page nav ul li a{
    border-bottom: 1px solid #fff;
}

.inline-link{
    color: #00bcd4;
}

.inline-link:hover{
    text-decoration: underline;
}

/*SVG logo properties*/
#svg-whiteBox{
    fill:#fff;
    stroke:#000;
    stroke-width: 4;
}

#svg-blackBox{
    fill:#000;
}

.svg-text{
    font-family:"Georgia", serif;
}

/*Smartphones*/
@media (max-width: 600px) {
    body{
        font-size: 2.5vw;
        min-height: fit-content;
    }
    
}

/*Tablets*/
@media (min-width: 601px) and (max-width: 1024px) {
    body{
        font-size: 1.5vw;
        min-height: fit-content;
    }
}

