/*Setting initial styles*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {

    font-size: 0.85vw;
    line-height: 1.5;
    color: #fff;
    min-height: 100vh;
    margin: 0 15%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ), url('../img/shibuya-front-page-bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.nav-menu-border{
    border-bottom: 1px solid #fff;
}

h4{
    margin: 1rem 0 1rem 0;
}

h2{
    margin-bottom: 2rem;
}
main nav ul li:hover,
header nav ul li:hover{
    color: #00bcd4;
}
.current-page nav ul li a{
    border-bottom: 1px solid #fff;
}

.inline-link{
    color: #00bcd4;
}

.inline-link:hover{
    text-decoration: underline;
}

/*Smartphones*/
@media (max-width: 600px) {
    body{
        font-size: 2.5vw;
        margin: 0 10%; 
        min-height: fit-content;
    }
    
}

/*Tablets*/
@media (min-width: 601px) and (max-width: 1024px) {
    body{
        font-size: 1.5vw;
        margin: 0 10%; 
        min-height: fit-content;
    }
}

